.navbar {
    width: 140px;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 10px;
    background-color: #605BFF;
    color: white;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.navbar li {
    list-style-type: none;
}

.exit {
    margin-top: 500px;
}